* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* animation */
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
[contenteditable] {
  outline: 0px solid transparent;
}
body {
  background-color: #1e2124;
}

.App {
  text-align: center;
  height: 100%;
  background-color: #1e2124;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  color: white;
}

form {
  padding: 1rem;
}

.checker {
  display: inline-block;
  margin: 0 0 0 0.5rem;
  height: 1rem;
  width: 1rem;
}

.card {
  text-align: left;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background: #282b30;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
  width: 40%;
  max-height: 400px;
  overflow: auto;
}
.card:hover {
  opacity: 0.8;
}
li p {
  padding: 1rem;
}
input,
select {
  padding: 0.25rem;
  margin-right: 0.5rem;
  background: #282b30;
  color: white;
}
select {
  cursor: pointer;
}
.textarea-answer {
  background: #282b30;
  height: 4rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: -0.6rem;
  color: white;
  min-width: 10rem;
  min-height: 1.7rem;
  max-width: 30rem;
  max-height: 15rem;
}
.submit-btn {
  padding: 0.25rem 0.5rem;
  background-color: #282b30;
  color: white;
  font-weight: 600;
}
.title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 5px 10px 45px 4px rgb(121, 157, 187) !important;
}
.sign-in {
  color: white;
  display: grid;
  place-items: center;
}
.sign-in h2 {
  text-align: center;
}
.sign-in p {
  text-align: center;
}
.sign-in label {
  margin-bottom: 1rem;
  display: inline-block;
  min-width: 110px;
}
.sign-in input {
  border: 1px solid rgb(204, 188, 188);
}
.sign-in button {
  width: 100%;
  padding: 0.25rem 0;
  background: white;
  border: 4px solid rgb(204, 188, 188);
}

span {
  float: right;
  cursor: pointer;
  padding: 0.25rem 0.5rem 0 0;
}

span:hover {
  color: red;
}

.question {
  color: rgb(121, 157, 187);
  font-size: 1.25rem;
  font-weight: 600;
}
.show,
.hide {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  padding: 0;
  width: 100%;
  background-color: #282b30;
  color: white;
  height: 1rem;
  border: none;
}

.hide {
  display: none;
}
.paragraph-length {
  color: rgb(121, 157, 187);
  margin: 1rem;
}

button {
  cursor: pointer;
}
.answer {
  padding: 1rem;
  color: rgb(41, 203, 149);
  font-weight: 200;
  display: none;
  animation: show 1s linear 1;
  overflow-wrap: break-word;
}
.answer2 {
  padding-top: 0;
  color: aqua;
}
.box-shadow {
  box-shadow: 5px 10px 35px 4px rgb(121, 157, 187);
}
.search-input {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 60%;
  }
}
@media only screen and (max-width: 800px) {
  .card {
    width: 80%;
  }

  input,
  textarea,
  button,
  select {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  input {
    margin-bottom: 1rem;
  }
  select {
    margin-top: 1rem;
  }
  button {
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .card {
    width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    width: 100%;
  }
}
